@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root {
 --bg-primary: #f8f9fa;
 --bg-secondary-1: #5c42bd;
 --bg-secondary-2: #9942bd;
 --bg-secondary-3: #4266bd;
}

._navbar {
 background-color: rgba(255, 255, 255, 0.8);
 backdrop-filter: blur(10px);
}

._navbar ._menu li a {
 font-weight: 500 !important;
 padding: 4px 0;
}

._navbar ._menu li a:hover,
._navbar ._menu li a.active {
 border-bottom: 2px solid var(--bg-secondary-1);
 transition: border-bottom-color 0.5s ease-in-out;
}

._drawer-menu {
 padding-top: 20px;
}

._drawer-menu li {
 padding: 5px;
 list-style: none;
 font-weight: 500;
}

._drawer-menu li a:hover,
._drawer-menu li a.active {
 color: var(--bg-secondary-1);
}
