@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root {
  --bg-primary: #f8f9fa;
  --bg-secondary-1: #5c42bd;
  --bg-secondary-2: #9942bd;
  --bg-secondary-3: #4266bd;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

.__animation {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  overflow: hidden;
}
.__animation[data-speed="fast"] {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.__animation[data-speed="slow"] {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
}
.__animation-fadeIn,
.__animation-fadeUp,
.__animation-reveal,
.__animation-fadeInLeft,
.__animation-fadeInRight,
.__animation-fadeInUp,
.__animation-motionLeft,
.__animation-motionRight,
.__animation-motionUp,
.__animation-motionDown {
  -webkit-transition: all 0.4s, opacity 1s;
  transition: all 0.4s, opacity 1s;
}
.__animation-fadeIn {
  -webkit-transform: translateY(100px) scale(0.9);
  transform: translateY(100px) scale(0.9);
  opacity: 0.3;
}
.__animation-fadeIn.active {
  opacity: 1;
  -webkit-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
}
.__animation-fadeUp {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}
.__animation-fadeUp.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.__animation-fadeLeft {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
}
.__animation-fadeLeft.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.__animation-fadeRight {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}
.__animation-fadeRight.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

._navbar {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

._navbar ._menu li a {
  font-weight: 500 !important;
  display: block;
  border: 2px solid transparent;
  padding: 30px 20px;
  white-space: nowrap;
  margin-bottom: -1px;
}

._navbar ._menu li a:hover {
  border-bottom: 2px solid var(--bg-secondary-1);
  color: var(--bg-secondary-1);
  background-color: rgba(0, 0, 0, 0.03);
  transition: border-bottom-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

._navbar ._menu li a.active {
  color: var(--bg-secondary-1);
  transition: border-bottom-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

._drawer-menu {
  padding-top: 20px;
}

._drawer-menu li {
  padding: 5px;
  list-style: none;
  font-weight: 500;
}

._drawer-menu li > :hover,
._drawer-menu li > .active {
  color: var(--bg-secondary-1);
}

._services-menu li {
  position: relative;
  overflow: hidden;
  transition: border 0.4s ease-in-out;
}

._services-menu li a._hover {
  position: absolute;
  top: -55px;
  left: 0;
}

._services-menu li.active a._hover {
  top: 0;
  transition: top 0.4s ease-in-out;
}
._services-menu li.active a:not(._hover) {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

._card-collapse {
  overflow: hidden;
  transition: height 0.3s ease-out;
}

._team-section ._persons > div {
  cursor: pointer;
}

._team-section ._persons > div:hover img {
  transform: scale(1.05) rotate(3deg);
  opacity: 0.9;
  border-radius: 0.3rem;
  transition: all 0.5s ease-in-out;
}

._team-section ._persons > div:hover h4 {
  color: var(--bg-secondary-1);
  transform: scale(1.05);
  text-decoration: underline;
}
